{% extends 'base.html.twig' %}

{% block title %}Modification d'opération{% endblock %}

{% block body %}
    <h1>Modifier l'opération {{ operation.Libelle }}</h1>

    {{ include('operation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-primary" href="{{ path('gamme_show', { 'id': operation.Gamme.Id }) }}">Retour</a>
{% endblock %}
