<form method="post" action="{{ path('gamme_realisation_delete', {'id': gamme_realisation.id}) }}" onsubmit="return confirm('Voulez vous supprimez cette réalisation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamme_realisation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
