{% extends 'base.html.twig' %}

{% block title %}Ajout d'opérations{% endblock %}

{% block body %}

    <h1>Ajout d'opérations</h1>

    {{ include('gamme/_form.html.twig') }}

    <a href="{{ path('gamme_index') }}">Retour à la liste</a>
{% endblock %}