{%  extends 'base.html.twig' %}

{% block title %}Nouvelle réalisation de gamme{% endblock %}

{%  block body %}
<style>
    .card { margin: 2em 0; }
</style>

    <h2>Nouvelle réalisation de gamme</h2>

    {% include 'gamme/_form_realisation_new.html.twig' with {form: form} %}

    <script>
        const $select = $('select');

        $select.change(callback);

        function callback(e) {
            const $form = $(this).closest('form');
            const form = this.closest('form');
            const data = new FormData(form);
            var newData = {};

            for (var p of data) {
                let name = p[0];
                let value = p[1];

                newData[name] = value;
            }

            $.post($form.attr('action'), newData, function (res) {
                const $html = $(res);

                $html.find('select').change(callback);
                $form.replaceWith($html);
            });
        }

    </script>

{% endblock %}