<form method="post" action="{{ path('commande_achat_delete', {'id': commande_achat.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette commande d\'achat ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_achat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
