{% extends 'base.html.twig' %}

{% block title %}Ajout d'une commande d'achat{% endblock %}

{% block body %}
    <h1>Ajout d'une commande d'achat</h1>

    {{ include('commande_achat/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('commande_achat_index') }}">Retour aux commandes</a>
{% endblock %}
