{% extends 'base.html.twig' %}

{% block title %}New CommandeAchat{% endblock %}

{% block body %}
    <h1>Create new CommandeAchat</h1>

    {{ include('commande_achat/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('commande_achat_index') }}">Retour aux commandes</a>
{% endblock %}
