{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Création d'un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('client_index') }}">Retour aux clients</a>
{% endblock %}
