<form method="post" action="{{ path('poste_delete', {'id': poste_de_travail.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce poste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste_de_travail.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
