{% extends 'base.html.twig' %}

{% block title %}Modifier Machine{% endblock %}

{% block body %}
    <style>
        .actions { display: flex; }
        .actions a { margin-right: .5em; }
    </style>

    <h1>Modification de {{ machine.Libelle }}</h1>

    {{ include('machine/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <br/>
    <div class="actions">
        <a class="btn btn-primary" href="{{ path('poste_show', { 'id': machine.PosteDeTravail.Id }) }}">Retour au poste</a>
        {{ include('machine/_delete_form.html.twig') }}
    </div>
{% endblock %}
