<form method="post" action="{{ path('stock_delete', {'id': piece.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette pièce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
