{% extends 'base.html.twig' %}

{% block title %}Ajout de pièce{% endblock %}

{% block body %}
    <h1>Ajouter une pièce</h1>

    {{ include('stock/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('stock') }}">Retour à la liste</a>
{% endblock %}
